.search-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.search-container {
    text-align: center;
}

.search-form {
    display: flex;
    width: 80%;
    /* Makes the form adaptively wide */
    max-width: 600px;
    /* Adjust as needed */
}

.search-form input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-right: none;
    /* Removes the border between the input and the button */
    margin-top: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    /* Rounded corners on the left side */
    border-bottom-left-radius: 5px;
}

.search-form button {
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 5px;
    /* Rounded corners on the right side */
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
}

.search-icon {
    display: block;
    /* Ensure the SVG icon is treated as a block-level element */
    margin: auto;
    /* Center the icon within the button */
}